/* ---------- AJUSTES GENERALES DE LA PAGINA ---------- */
body{
    background-color: #ffe4e1;
}

/* ---------- MI TARJETA DE PRESENTACION ---------- */

header h1 { /*Selecciona los elementos h1 que estan dentro del header*/
    color: black;
    font-size: 60px;
    text-align: center;
    
}

.Tarjeta-presentacion{
    background-color: #b0c2f2;
    border-radius: 20px;
    padding: 15px;
}
.Tarjeta-presentacion p {
    font-size: 24px;
}
#hola-tarjeta-presentacion{
    font-size: 40px;
}

.Mi-ubicacion{
    font-size: 20px;
}
.Mi-ubicacion a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.Mi-ubicacion a:hover{
    font-weight: bold;
}

/* ---------- MIS PROYECTOS ---------- */
.Mi-Proyecto{
    background-color: #fcb7af;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.Mi-Proyecto{
    display: flex;
}
.Proyecto-1-description p{
    margin-right: 30px;
    text-align: justify;
    background-color: #dfa39c;
    border-radius: 20px;
    padding: 15px;
}
.Proyecto-1-img img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    
}

/* ---------- REDES SOCIALES ---------- */
.Redes-sociales{
    background-color: #b0f2c2;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    height: 150px;
}
.Redes-sociales h4{
    font-size: 24px;
}
.Redes-sociales img{
    height: 40px;
    width: 40px;
    filter: brightness(1.1); /*Con estas dos líneas de código quito el fondo blanco de las imagenes.*/
 
    mix-blend-mode: multiply;
    display: flexbox;

}
.Redes-sociales img:hover{
    width: 50px;
    height: 50px;
    
}

/* ---------- MEDIDOR LENGUAJES DE PROGRAMACIÓN ---------- */
.Lenguajes-programacion h4{
    font-size: 24px;
}
.Lenguajes-programacion-nivel{

    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 30%;
    margin-left: 25px;
}

.HTML5{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;
}
.HTML5-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.HTML5-meter-porcent{
    background-color: chartreuse;
    height: 18px;
    width: 90px;
    border-radius: 20px;
}

.CSS{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;
}
.CSS-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.CSS-meter-porcent{
    background-color: yellow;
    height: 18px;
    width: 30px;
    border-radius: 20px;
}

.JS{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;
}
.JS-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.JS-meter-porcent{
    background-color: red;
    height: 18px;
    width: 0px;
    border-radius: 20px;
}

.CPP{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;
}
.CPP-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.CPP-meter-porcent{
    background-color: yellow;
    height: 18px;
    width: 60px;
    border-radius: 20px;
}
