/* ---------- AJUSTES GENERALES DE LA PAGINA ---------- */
body{
    background-color: #ffe4e1;
}

/* ---------- MI TARJETA DE PRESENTACION ---------- */

#wellcome {
    color: black;
    font-size: 60px;
    text-align: center;
    
}

.presentation-card{
    background-color: #b0c2f2;
    border-radius: 20px;
    padding: 10px;

}
.presentation-card p {
    font-size: 20px;
}
#hello-presentation-card{
    font-size: 40px;
}

#location{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#location:hover{
    font-weight: bold;
}

/* ---------- MEDIDOR LENGUAJES DE PROGRAMACIÓN ---------- */

.programming-languages{
    background-color: #b0c2f2;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: min-content;
    margin-left: auto;
    margin-right: auto;

}

.web-development{
    background-color: lightblue;
    padding: 10px;
    border-radius: 20px;
    position: relative; 
    box-shadow: 5px 5px black;

}
#web-programing{
    text-align: center;
    font-weight: 800; 

}
.desktop-development{
    background-color: grey;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    position: relative;
    box-shadow: 5px 5px black;

}
#desktop-programing{
    text-align: center;
    font-weight: 800; 

}
.HTML5{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;

    display: table;
    margin: 0 auto;

}
.HTML5-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.HTML5-meter-porcent{
    background-color: chartreuse;
    height: 18px;
    width: 90px;
    border-radius: 20px;
}

.CSS{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;

    display: table;
    margin: 0 auto;
    margin-top: 10px;

}
.CSS-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.CSS-meter-porcent{
    background-color: yellow;
    height: 18px;
    width: 50px;
    border-radius: 20px;
}

.JS{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 5px;

    display: table;
    margin: 0 auto;
    margin-top: 10px;

}
.JS-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.JS-meter-porcent{
    background-color: red;
    height: 18px;
    width: 0px;
    border-radius: 20px;
}

.CPP{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;

    display: table;
    margin: 0 auto;

}
.CPP-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.CPP-meter-porcent{
    background-color: yellow;
    height: 18px;
    width: 60px;
    border-radius: 20px;
}

.ASM{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 10px;

    display: table;
    margin: 0 auto;
    margin-top: 10px;

}
.ASM-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.ASM-meter-porcent{
    background-color: yellow;
    height: 18px;
    width: 50px;
    border-radius: 20px;
}
.JAVA{
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
    margin-bottom: 5px;

    display: table;
    margin: 0 auto;
    margin-top: 10px;

}
.JAVA-meter-box{
    background-color: white;
    height: 18px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 900;
}
.JAVA-meter-porcent{
    background-color: yellow;
    height: 18px;
    width: 50px;
    border-radius: 20px;
}

/* ---------- MIS PROYECTOS ---------- */
.Mi-Proyecto-1{
    background-color: #fcb7af;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;

}

.Mi-Proyecto-1{
    display: flex;
}
.Mi-Proyecto-2{
    background-color: #fcb7af;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.Mi-Proyecto-2{
    display: flex;
}
.Mi-Proyecto-3{
    background-color: #fcb7af;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.Mi-Proyecto-3{
    display: flex;
}
.Proyecto-description p{
    margin-right: 30px;
    text-align: justify;
    background-color: #dfa39c;
    border-radius: 20px;
    padding: 15px;
}
.Proyecto-img img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-top: 40px;
    margin-right: 20px;
    
}

/* ---------- REDES SOCIALES ---------- */
.Redes-sociales{
    background-color: #b0f2c2;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    height: 150px;
}
.Redes-sociales h4{
    font-size: 24px;
}
.Redes-sociales img{
    height: 40px;
    width: 40px;
    filter: brightness(1.1); /*Con estas dos líneas de código quito el fondo blanco de las imagenes.*/
 
    mix-blend-mode: multiply;
    display: flexbox;

}
.Redes-sociales img:hover{
    width: 50px;
    height: 50px;
    
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    font-style: italic;
}